td{
  padding:20px;
  border:10px;
  border: 10px solid #000000;
  image: url("doen.jpg");
}

table{
  border:3;
  border-color:#333;
  align:center;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #333;
}

.image{
  width: 175px;
  overflow:hidden;
  cursor: pointer;
  position: relative;
  margin: 0 20px;
}

.image img{
  width: 100%;
}

#div1{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div1:hover{
  background-image: url("images/lagahoo.jpg");
}

#div2{
  height: 200px;
  width: 200x;
  background-image: url("images/tt.gif");
}

#div2:hover{
  background-image: url("images/lagahoo.jpg");
}

#div3{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div3:hover{
  background-image: url("images/doen.jpg");
}

#div4{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div4:hover{
  background-image: url("images/lajahbless.jpg");
}
#div5{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div5:hover{
  background-image: url("images/mamad.jpg");
}
#div6{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div6:hover{
  background-image: url("images/doen.jpg");
}
#div7{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div7:hover{
  background-image: url("images/lajahbless.jpg");
}
#div8{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div8:hover{
  background-image: url("images/succyant.jpg");
}

#div9{
  height: 200px;
  width: 200px;
  background-image: url("images/tt.gif");
}

#div9:hover{
  background-image: url("images/ppbois.jpg");
}

.image::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

fieldset {
  background-color: red;
}

h1 {
  font-family: 'Sniglet', cursive;
  color: blue;
  margin: 10px;
}
#game-wrapper {
  width: 760px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid orange;
}
